/* google font imported  */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');


body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

img {
    width: 100%;
}

/* -------------
    common style 
--------------- */
.container {
    width: 90%;
    margin: 5%;

}


/* navigation and footer list style 
------------------------------------------------- */
ul {
    background-color: antiquewhite;
    padding: 8px;
    margin-top: 28px;
    border-radius: 10px;
}

li {
    list-style: none;

}

li a {
    color: black;
}




/*-----------------------------------
     Top banner style  start
------------------------------------ */
.top-banner {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: antiquewhite;
    border-radius: 20px;


}

.top-banner-info {
    width: 50%;
    padding: 5% 3% 10% 10%;
}

.top-banner-info h1 {
    font-size: 3em;
}

.top-banner-img {
    width: auto;
    flex-grow: 1;
    padding-bottom: 0;
    display: flex;
    flex-wrap: wrap;
}

/* button and button animation start 
-------------------------------------- */
.watch-live,
.view-all-button {
    border-style: none;
    background-color: lightgreen;
    padding: 12px 18px;
    border-radius: 4px;
}

.hidden-arow {
    color: lightgreen;
}

/* transition animation in all the buttons */
button {
    transition: background-color 1s linear 100ms;
}

button:hover {
    background-color: aqua;


}

.watch-live:hover .hidden-arow {
    color: white;
}

/* button and button animation finished 
-------------------------------------- */


.top-banner-img img {
    width: 100%;
    flex-grow: 1;
}

/*-----------------------------------
     Top banner style  finished
------------------------------------ */



/*---------------------------------------------------
match fetcher blog and navigation style start 
---------------------------------------------------- */
.blog-and-menue {
    display: flex;
    justify-content: center;

    /* align-items: center; */
}


.menue-button {
    border-style: none;
    width: 150px;
    height: 44px;
    border-radius: 4px;
    background-color: white;
    margin: 8px;
    border: 1px solid gray;
    box-shadow: 4px 4px gray;
}

.current-page {
    background-color: gray;
    box-shadow: none;


}

/* blog style 
-----------------------------------  */
.blogS,
.matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-content: space-evenly;
    margin: 30px 15px;
    width: fit-content;

}

.blog {
    background-color: whitesmoke;
    width: 100%;
    height: 362px;
    border-radius: 5px;
}

.blog-info {
    padding: 20px 15px;
}

.blog-info-icon {
    color: rgb(105, 88, 88);
    margin: 20px 10px auto 0;
}

/* view all button hidden for small and larg device */
.view-all {
    display: flex;
    justify-content: center;
    visibility: hidden;
}

/* blog and navigation style finished 
------------------------------------------- */



/* -------------
    Footer
------------  */
footer {
    background-color: antiquewhite;
    padding: 50px;
    text-align: center;
    color: black;
}

hr {
    width: 95%;

}

.footer-nav ul,
.social-icon ul {

    display: flex;
    justify-content: center;

    flex-wrap: wrap;
    gap: 50px;

}

.footer-nav ul li {
    /* margin: 8px; */
}

li a {
    text-decoration: none;
}

.fa-brands {
    font-size: xx-large;
}





/* ===================================
======================================
    Upcomming matches page style 
======================================
====================================== */
.matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.match {


    width: 100%;
    height: 262px;
    border-radius: 5px;
    background-color: whitesmoke;
}


.flag {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 20px 10px 20px;
    gap: 5px;

}

.match img {
    width: 50%;
    height: auto;
}







/* ==============================
    Responsiv style  
===================================*/


/*------------------
 small device
---------------------  */
@media screen and (max-width: 576px) {
    .top-banner {
        flex-direction: column;
    }

    .top-banner-info {
        width: auto;
    }

    .top-banner-info h1 {
        font-size: 3em;
    }

    .top-banner-img {
        width: auto;
    }

    /* blog and navigation */
    .blog-and-menue {

        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .blogS {
        background: none;
        background-color: white;
    }

    .blogS,
    .matches {

        grid-template-columns: repeat(1, 1fr);
    }


    .footer-nav ul {
        flex-direction: column;
    }

}


/* ------------------------
medium device style 
--------------------------- */
@media screen and (min-width: 577px)and (max-width: 992px) {
    .top-banner-info {
        width: 45%;
        margin: 2%;

    }

    .top-banner-info h1 {
        font-size: 2em;
        padding: 1%;
        margin: 0;
    }

    .top-banner-info p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .top-banner-img {
        width: auto;
    }



    /* blog and navigation */
    .blog-and-menue {

        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .manue {

        display: flex;
        justify-content: center;

    }

    .manue ul {

        background: none;
        display: flex;
        flex-direction: row;
    }

    .blogS,
    .matches {
        grid-template-columns: repeat(2, 1fr);
    }

    .blogS {
        background: none;
        background-color: white;
    }


    /* visible only for medium device */
    .view-all {
        visibility: visible;
    }

    .footer-nav ul {

        column-gap: 110px;
    }

}